<?php

$config = array(
    'db_host' => 'localhost',
    'db_name' => 'example',
    'db_user' => 'root',
    'db_pass' => '',
    'site_url' => 'http://127.0.0.1/example/',
    'admin_email' => 'test@example.com',
    'admin_username' => 'admin',
    'admin_pass' => 'admin123',
    'install_sample_data' => true
);
